<div class="container">
    <div id="row1" class="row d-flex justify-content-around">
      <a routerLink="/after-twelfthSci">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">12th with PCMB(Physics, Chemistry, Math, Biology)</h5>
            <p class="card-text">PCMB subject combination makes you eligible for virtually all career options out there. From Medicine to Research to Business to Social Sciences, you can explore a plethora of career options after your class 12th</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">12th with PCB(Physics, Chemistry, Biology)</h5>
            <p class="card-text">Subjects such as physics, chemistry and biology (PCB) are required for students aspiring to take up careers in medicine or dental studies, biochemistry, biotechnology, microbiology, agricultural and dairy science. </p>
          </div>
        </div>
      </a>

      <a routerLink="/after-twelfthSciPcm">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">12th with PCM(Physics, Chemistry, Math)</h5>
            <p class="card-text">It is a Non-Medical Science stream in Higher Secondary course which consists of Physics, Chemistry and Mathematics subjects.</p>
          </div>
        </div>
      </a>
  
      <a>
        <div class="card mt-3">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">D.Ed</h5>
            <p class="card-text">Diploma in Education is a certificate level teacher training programme that helps in becoming teachers at the elementary level, especially in government schools.</p>
          </div>
        </div>
      </a>
    </div>
</div>
