<div class="container">
    <div id="row1" class="row d-flex justify-content-around">
      <a routerLink="/after-twelfthSci">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Engineering(B.E)  </h5>
            <p class="card-text">Science, in the broad sense, refers to any systematic knowledge or practice that is
              achieved through scientific method and research.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Technology (BTech)</h5>
            <p class="card-text">Arts in education is an expanding field of educational research and practice informed by
              investigations into learning through arts experiences. </p>
          </div>
        </div>
      </a>
  
      <a>
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> Bachelor of Science (BSc)</h5>
            <p class="card-text">Commerce as a stream of education can be defined as a study of trade and business
              activities such as the exchange of goods and services from producer to final consumer.</p>
          </div>
        </div>
      </a>
    </div>
  
    <div id="row2" class="row d-flex justify-content-around mt-3">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Computer Application(BCA)</h5>
            <p class="card-text">The Diploma in Engineering is a program focused on practical and skills-oriented training. It is a technical course that only covers the essentials when ranked with an undergraduate engineering degree.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Computer Science(Bcs)</h5>
            <p class="card-text">They are training centers that provide courses to students seeking easy employment just
              after completing school. ITI courses are great opportunities for students who wish to complete any technical
              course within a short period.</p>
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Direct Second-Year Engineering Diploma</h5>
            <p class="card-text">These defence services offer jobs under the Indian Army, Navy, Air Force, Coast Guard, medical & engineering services, JAG’s Department, or in the Education Corps with dignified, prestigious, and lucrative career opportunities.</p>
          </div>
        </div>
      </a>
    </div>
    <div id="row3" class="row d-flex justify-content-around mt-3">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Hotel Management</h5>
            <p class="card-text">The Staff Selection Commission conducts various exams like CHSL, CGL, etc. in order to recruit staff for various ministries and departments of the Central Government.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Film and Television Diploma  </h5>
            <p class="card-text">Exams to get a job in Banking or Insurance field. </p>
          </div>
        </div>
      </a>
  
      <a>
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Technical Entry in Insian Army</h5>
            <p class="card-text">This course trains a learner to help a doctor diagnose, detect, and treat diseases by collecting and testing samples and documenting the results of these tests for further analysis by the doctor.</p>
          </div>
        </div>
      </a>
    </div>
  
    <div id="row4" class="row d-flex justify-content-around mt-3">
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Planning (BPlan)</h5>
            <p class="card-text">Science, in the broad sense, refers to any systematic knowledge or practice that is
              achieved through scientific method and research.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bachelor of Architecture (B.Arch)</h5>
            <p class="card-text">They are training centers that provide courses to students seeking easy employment just
              after completing school. ITI courses are great opportunities for students who wish to complete any technical
              course within a short period.</p>
          </div>
        </div>
      </a>
  
      <a href="">
        <div class="card">
          <img class="card-img-top" src="https://scijinks.gov/science/science-03.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> National Defence Academy Exam</h5>
            <p class="card-text">They are training centers that provide courses to students seeking easy employment just
              after completing school. ITI courses are great opportunities for students who wish to complete any technical
              course within a short period.</p>
          </div>
        </div>
      </a>
    </div>
  </div>