<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <h1>Chose Your Starting Point</h1>
        </div>
    </div>
    <!-- <div class="shadow p-3 mb-5 bg-white rounded ">
        <div class="row">
            <select class="custom-select">
                <option selected>Select</option>
                <option >10th</option>
                <option>12th</option>
            </select>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div> -->

    <div class="row">
        <div class="col box shadow p-3 mb-5 mr-1 bg-white rounded">
            <button type="button" class="btn btn-outline-primary" routerLink="/after-tenth">After 10th</button>
        </div>
        <div class="col box shadow p-3 mb-5 bg-white rounded">
            <button type="button" class="btn btn-outline-primary">After 12th</button>
        </div>
    </div>
    <div class="row">
        <div class="col box shadow p-3 mb-5 mr-1 bg-white rounded">
            <button type="button" class="btn btn-outline-primary">After Diploma</button>
        </div>
        <div class="col box shadow p-3 mb-5 bg-white rounded">
            <button type="button" class="btn btn-outline-primary">After Engineering</button>
        </div>
    </div>
</div>